<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <!-- google font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

  <!-- style css -->
  <link rel="stylesheet" href="/css/media.css">
  <link rel="stylesheet" href="/css/gaya.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Roboto:wght@500&display=swap" rel="stylesheet">
  <script src='https://kit.fontawesome.com/4c729db828.js' crossorigin='anonymous'></script>

  <!-- start -->
  <div class="header">
    <div class="nav_bar-top">
      <div class="container-fluid">
        <div class="text-container">
          <div class="text-content">
            <p class="para-text"><span class="span_text"><i class="fa-brands fa-instagram"></i></span>sheiladsya</p>
          </div>

          <div class="social-links">
            <i class="fa-brands icon-social fa-square-instagram"></i>
            <i class="fa-brands icon-social fa-square-whatsapp"></i>
            <i class="fa-solid icon-social fa-phone-flip"></i>
            <i class="fa-brands icon-social fa-telegram"></i>
            <i class="fa-solid icon-social fa-envelope"></i>
          </div>

          <!-- navbar bootstrap -->
          <div class="navbar-container">
            <nav class="navbar navbar-expand-lg">
              <div class="container-fluid">
                <h3 class="heading-logo">Funn<span>Play</span></h3>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                  <ul class="navbar-nav ms-auto" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                      <a class="nav-link" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#services">Services</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#packages">packages</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#galeri">Galeri</a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>  
          </div>
          <!-- navbar end -->

        </div>
      </div>
    </div>
    <!-- nav-bar top finished  -->

    <script src="assets/js/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>




  <?php if(session()->getFlashdata('pesan')): ?>
          <div class="alert alert-success" role="alert">
            <?= session()->getFlashdata('pesan'); ?>
          </div>
        <?php endif; ?>


        public function wisata(){

          $galeri = $this->GaleriModel->findAll();
  
          $data = [
              'title' => 'wisata|FunnPlay',
              'wisata' => $galeri
          ];
  
          //$GaleriModel = new GaleriModel();
  
          return view('/admin/wisata', $data);
  
      }